@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');




* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border: none;
}

body {

  background-image: url(../Imagens/Fundo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#cabecalho {
  background-color: #00d2c0;
}

#logo {
  height: 180px;
  width: 180px;
  padding-left: 30px;
}

#logo {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
}

#id_senha {
  height: 30px;
  width:  500px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: black;
  text-align: center;
  width: 70%;
  margin-top: 10px;
  border: 1px solid grey;

}

#id_usuario {
  height: 30px;
  width:  500px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: black;
  text-align: center;
  width: 70%;
  margin-top: 10px;
  border: 1px solid grey;

}

#id_formulario {
  font-size: 20px;
    font-family: 'Roboto Slab', serif;
    color: #4B4B4B;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 10px;
    line-height: 3;

}


  #in-submit {
    background-color: #787878;
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 10%;
    margin-top: 10px;
    border-radius: 5px;

  }

  #in-button {
    background-color: #787878;
    font-family: 'Arial', sans-serif;
    color: white;
    font-size: 20px;
    height: 30px;
    width: 10%;
    margin-top: 10px;
    border-radius: 5px;
   }

   #titulo {
     text-decoration: none;
     color: white;
     font-family: 'Roboto Slab', serif;
     font-size: 60px;
     text-shadow: -4px -4px #A5A5A5;




  }
